[Unit]
Description=SvSal Caddy Web Server Container
Requires=existdb.service
After=existdb.service
After=local-fs.target


[Container]
ContainerName=caddy
Image=ghcr.io/digicademy/svsal/svsal-caddy:2.8.4rc3

# AutoUpdate is commented out by default for manual updates.
# Uncomment the line below to enable automatic updates:
# AutoUpdate=registry

Environment=MODE=devel

Volume=logs.volume:/var/log/caddy:z
Volume=website.volume:/var/data/caddy/site:z
Volume=existexport.volume:/var/data/existdb/data/export:ro,z

# Port mappings are handled at the pod level (svsal.pod)

Pod=svsal.pod


[Install]
WantedBy=default.target


[Service]
Restart=always

# Extend Timeout to allow time to pull the image
TimeoutStartSec=300
RestartSec=30

ExecStop=/bin/sh -c "podman stop caddy"
ExecStop=/bin/sh -c "podman rm caddy"

KillMode=control-group
