<html>
    <head xmlns:i18n="http://exist-db.org/xquery/i18n" data-template="i18n:translate" data-template-catalogues="data/i18n">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="author" content=""/>
        <meta name="description" data-template="gui:metaDescription" content=""/>
        <title data-template="gui:metaTitle"/>
        <link rel="canonical" data-template="gui:canonicalUrl"/>
        <link rel="alternative" data-template="gui:hreflangUrl"/>
        
        <!-- ==== CSS ==== -->
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/> -->
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/backTop.css"/> 
        <link rel="stylesheet" type="text/css" href="resources/css/solorzanos-maze.css"/>
        <!--        <style>
            /*Main stylesheet for Backtop jQuery Plugin */
            #backTop{
                width:35px;
                height:35px;
                padding:10px;
                border-radius:4px;
                text-indent:-9999px;
                cursor:pointer;
                z-index:999999999;
            	display:none;
            	box-sizing:content-box;
            	-webkit-box-sizing:content-box;
            }
            #backTop.white{
                 background:url('resources/images/css/backTop/uparr-48-b.png') no-repeat center center rgba(255,255,255,0.8);
                border:1px solid #ccc;
            }
            #backTop.black{
                 background:url('resources/images/css/backTop/uparr-48-w.png') no-repeat center center rgba(0,0,0,0.8); 
                border:1px solid #ccc;
            }
            #backTop.red{
                 background:url('resources/images/css/backTop/uparr-48-w.png') no-repeat center center rgba(217,97,81,0.9); 
                border:1px solid #fff;
            }
            #backTop.green{
                 background:url('resources/images/css/backTop/uparr-48-b.png') no-repeat center center rgba(81,217,187,0.9); 
                border:1px solid #fff;
            }
        </style>
-->
        <link rel="stylesheet" type="text/css" href="resources/css/style_default.css"/>
        
        <!-- ==== Scripts ==== -->
        <!-- - - Piwik for visitor stats (modified to enable caching and compression) - - -->
        <!--<script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
          _paq.push(["setCookieDomain", "*.salamanca.school"]);
          _paq.push(["setDomains", ["*.salamanca.school"]]);
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//stats.adwmainz.net/";
            _paq.push(['setTrackerUrl', u+'js/']);
/*          _paq.push(['setTrackerUrl', u+'piwik.php']); */
            _paq.push(['setSiteId', 20]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true;
/*          g.src=u+'piwik.js'; */
            g.src=u+'js/';
            s.parentNode.insertBefore(g,s);
          })();
        </script>-->
        <!-- End Piwik Code -->
        
        <!-- ==== favIcon ==== -->
        <link rel="apple-touch-icon" sizes="57x57" href="resources/favicons/apple-touch-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="resources/favicons/apple-touch-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="resources/favicons/apple-touch-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="resources/favicons/apple-touch-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="resources/favicons/apple-touch-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="resources/favicons/apple-touch-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="resources/favicons/apple-touch-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="resources/favicons/apple-touch-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="resources/favicons/apple-touch-icon-180x180.png"/>
        <link rel="icon" type="image/png" href="resources/favicons/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="resources/favicons/favicon-194x194.png" sizes="194x194"/>
        <link rel="icon" type="image/png" href="resources/favicons/favicon-96x96.png" sizes="96x96"/>
        <link rel="icon" type="image/png" href="resources/favicons/android-chrome-192x192.png" sizes="192x192"/>
        <link rel="icon" type="image/png" href="resources/favicons/favicon-16x16.png" sizes="16x16"/>
        <link rel="manifest" href="resources/favicons/manifest.json"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="msapplication-TileImage" content="resources/favicons/mstile-144x144.png"/>
        <meta name="theme-color" content="#ffffff"/>
    </head>
    <body id="body">
        <div id="wrap">
            <div id="content" class="container-fluid"/>
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <a data-template="gui:logo"/>
                    <div data-template="gui:header"/>
                </div>
            </div>
            
            <!-- ==== Core JavaScript ==== -->
            <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"/>
            <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"/>
            <!-- <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"/> -->
            <!-- <script async="async" type="text/javascript" src="resources/js/jquery.backTop.min.js"/>-->
            
            <!-- ==== jQuery Back to top ==== -->
            <a id="backTop"/>
            <script type="text/javascript">
            ! function (o) {
                o.fn.backTop = function (e) {
                                    var n = this,
                                        i = o.extend({
                                                position: 400, speed: 500, color: "white"
                                            }, e),
                                        t = i.position,
                                        c = i.speed,
                                        d = i.color;
                                    n.addClass("white" == d ? "white": "red" == d ? "red": "green" == d ? "green": "black"),
                                    n.css({
                                            right: 40, bottom: 40, position: "fixed"
                                          }),
                                    o(document).scroll(function () {
                                                            var e = o(window).scrollTop();
                                                            console.log(e), e &gt;= t ? n.fadeIn(c): n.fadeOut(c)
                                                       }),
                                    n.click(function () {
                                                o("html, body").animate({scrollTop: 0}, {duration: 1200})
                                            })
                                }
            }
            (jQuery);
            </script>
            <script type="text/javascript">
            $(document).ready( function() {
                $('#backTop').backTop({
                    'position' : 100,
                    'speed' : 200,
                    'color' : 'white',
                });
            });
            </script>
            
            <!-- ==== Mobil-View: Hide opened collapsed menu after clicking elsewhere on page ==== -->
            <script type="text/javascript">
                $(document).on('click',function(){
                    $('.collapse').collapse('hide');
                });
            </script>
            
            <!-- ==== Mobil-View: scroll to last collapsed navbar item on mobile when there are many items ==== -->
            <script type="text/javascript">
            $(".navbar-collapse").css({ maxHeight: $(window).height() - $(".navbar-header").height() + "px" });
            </script>
            
            <!-- - - once more piwik code, in case the browser does not support script - - --> 
            <!-- <noscript>
                <img src="//stats.adwmainz.net/piwik.php?idsite=20" style="border:0;" alt=""/>
            </noscript>-->
            
            <div id="push"/>
        </div>
        <h2/>
        <div id="footer">
            <div class="container">
                <div data-template="gui:footer"/>
            </div>
        </div>
        
    </body>
</html>