<html xmlns:i18n="http://exist-db.org/xquery/i18n" data-template="i18n:translate" data-template-catalogues="data/i18n">
    <head>
        <meta charset="UTF-8"/>
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"/> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="author" content=""/>
        <meta name="description" data-template="config:meta-description" content=""/>
        <title data-template="config:meta-title"/>
        <link rel="canonical" data-template="config:canonical-url"/>
        <link rel="alternate" data-template="config:hreflang-url"/>
        <link rel="alternate" data-template="config:rdf-url"/>
        <link rel="alternate" data-template="config:iiif-url"/>
        <link rel="first" data-template="config:firstLink"/>
        <link rel="prev" data-template="config:prevLink"/>
        <link rel="next" data-template="config:nextLink"/>

        <!-- ==== CSS  ==== -->
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style_work.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/jquery-ui-1.10.4.custom.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
        <!--<link rel="stylesheet" type="text/css" href="resources/css/jquery.treeview.css"/>-->
        <link rel="stylesheet" type="text/css" href="resources/css/jsTree.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/tooltipster.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/backTop.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/mirador-combined.css"/>
        <style type="text/css">
            .ui-dialog .ui-dialog-content {
                padding: 0 0;
            }
/*            .ui-dialog-titlebar {display:none} */
        </style>
        <!-- ==== favIcon ==== -->
        <link rel="apple-touch-icon" sizes="57x57" href="resources/favicons/apple-touch-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="resources/favicons/apple-touch-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="resources/favicons/apple-touch-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="resources/favicons/apple-touch-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="resources/favicons/apple-touch-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="resources/favicons/apple-touch-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="resources/favicons/apple-touch-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="resources/favicons/apple-touch-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="resources/favicons/apple-touch-icon-180x180.png"/>
        <link rel="icon" type="image/png" href="resources/favicons/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="resources/favicons/favicon-194x194.png" sizes="194x194"/>
        <link rel="icon" type="image/png" href="resources/favicons/favicon-96x96.png" sizes="96x96"/>
        <link rel="icon" type="image/png" href="resources/favicons/android-chrome-192x192.png" sizes="192x192"/>
        <link rel="icon" type="image/png" href="resources/favicons/favicon-16x16.png" sizes="16x16"/>
        <link rel="manifest" href="resources/favicons/manifest.json"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="msapplication-TileImage" content="/resources/favicons/mstile-144x144.png"/>
        <meta name="theme-color" content="#ffffff"/>

    </head>
    <body id="body">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- top row with navigation buttons -->
            <div class="container">
                <a data-template="config:logo"/> <!-- SvSal-claim, Toggle Boxes, extended menu) -->
                <div data-template="config:app-header"/> <!-- General Menu (Works, Dictionary, Proj. description etc.) -->
            </div>
        </div>
        <!-- Work-UI (Toggle Boxes, extended menu) -->
        <div data-template="app:loadWorkMetadata">
            <div data-template="app:guiWRK"/>
        </div>
        
        <!-- main window -->
        <div id="content" class="container-fluid"/>

        <!-- ==== Core JavaScript  ==== -->
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"/>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"/>
        <script type="text/javascript" src="//code.jquery.com/ui/1.11.3/jquery-ui.min.js"/>
        <script type="text/javascript" src="resources/js/jquery.bootstrap-autohidingnavbar.js"/>
        <script type="text/javascript" src="resources/js/jquery.tooltipster.js"/>

        <!-- ==== Citation reference TEST ==== -->
        
        
        <!-- ==== Back to top ==== -->
        <a id="backTop"/>
        <script type="text/javascript" src="resources/js/jquery.backTop.js"/>

        <!-- ==== Scroll an anchor into view if we have one ==== -->
        <script type="text/javascript">
            $('.sal-toolbox-marginal, .sal-toolbox-title, .sal-toolbox')
                .filter(function() {
//                    console.log("Click on a@href=" + $(this).attr('href') + '... (window.location.href being ' + window.location.href + '.)');
//                    console.log((window.location.origin + window.location.pathname + window.location.search
//                             == 
//                             this.href.split('#')[0]
//                            ) &amp;&amp; (this.href.indexOf('#') !== -1).toString());
                    return  ((window.location.origin + window.location.pathname + window.location.search
                             == 
                             this.href.split('#')[0]
                            ) &amp;&amp; (this.href.indexOf('#') !== -1));
                }).click(function(event){
//                    console.log("Click on a@href=" + $(this).attr('href') + '...')
                    z = $(this).attr('href').slice($(this).attr('href').indexOf('#'))
//                    console.log("anchor=" + z + '...')
                    if ($(z).length != 0) {
                        console.log("Going locally to " + z + '...')
                        myScrollIntoView(z);
                        event.preventDefault();
                    }
                });
            $('a[href*="#"]').click(function(event){
                console.log("Click on a@href=" + $(this).attr('href') + '...')
                z = $(this).attr('href').slice($(this).attr('href').indexOf('#'))
                console.log("anchor =" + z + '...')
                if ($(z).length != 0) {
                    console.log("Going locally to " + z + '...')
                    myScrollIntoView(z);
                    event.preventDefault();
                }
            });
            function myScrollIntoView(targetId) {
                $("html, body").animate({ scrollTop: $(targetId)[0].position().top }, 1000);
                
                /*
                $(targetId)[0].scrollIntoView(true, {behavior: 'smooth'});
                var scrolledY = window.scrollY;
                if(scrolledY){
                  window.scroll(0, scrolledY - $(".navbar-fixed-top").outerHeight(true) - 50);
                };
                if($(targetId).nodeName == "A") {
                    $(targetId).parent().effect( "highlight", {color:'LightSkyBlue'}, 1200 );
                } else {
                    $(targetId).effect( "highlight", {color:'LightSkyBlue'}, 1200 );
                }
                */
                
//                var $offset = $(targetId)[0].offset().top;
//                console.log("$('" + targetId + "').offset().top = " + $offset + ".")
//                goHere = $offset - 80;
//                console.log("Go to " + goHere + ".")
//                $('#wrapperWork').animate({scrollTop: goHere}, 800, 'swing', function () {
//                                $(targetId).parent().effect( "highlight", {color:'LightSkyBlue'}, 700 );
//                                $(targetId).parent().effect( "highlight", {color:'LightSkyBlue'}, 700 );
//                                $(targetId).parent().effect( "highlight", {color:'LightSkyBlue'}, 700 );
//                            });
            }
        </script>

        <!-- ==== Toggle diplomatic/constituated textmode ==== -->
        <script type="text/javascript" src="resources/js/sal-common.js"/>
        <!--<script type="text/javascript">
//            $(document).ready(function() {
//                if (window.location.search.match(/mode=((orig)|(edit))/i)) { applyMode(); }
//            });
        </script>-->

        <!-- ==== Show GUI-Nav when scolling to top ==== -->
        <script type="text/javascript">
            $(document).ready(function () {
                $(".navbar-white").autoHidingNavbar().autoHidingNavbar('setShowOnBottom', false).autoHidingNavbar('setAnimationDuration', 400);
            });
        </script>

        <!-- ==== InfiniteAjaxScroll for progressive enhancement ==== -->
        <script type="text/javascript" src="resources/js/jquery-ias.js"/>
        <script type="text/javascript">
            var ias = $.ias({
                container:  "#SvSalPages",
                item:       ".SvSalPage",
                pagination: "#SvSalPagination",
                next:       ".next",
                negativeMargin:   1000,
                delay:            1
            });
            ias.extension(new IASSpinnerExtension());
            ias.extension(new IASTriggerExtension({ offset: 50, textPrev: '<i18n:text key="loadPrev">Lade vorausgehende Textpassagen</i18n:text>' }));
            ias.extension(new IASPagingExtension());
            ias.extension(new IASHistoryExtension({ prev: ".previous" }));
            ias.on('scroll', function(pageNum, scrollOffset, url) {
                if ($('a.btn.unsichtbar.original').length) { } else {
                    params = new URLSearchParams(window.location.search) ;
                    params.set('mode', 'orig');
                    window.history.replaceState(null, '', window.location.pathname+'?'+params+window.location.hash);
                }
// TODO: As of now, we sometimes have viewer URL parameters present while the viewer has been closed.
//      The following would work if it weren't for the viewer to appear in the first place
//       only after some scrolling eventually has suppressed the url parameter so we never get the viewer started (by url).
//                if ($("#Mirador")["0"].parentElement.parentElement.style.display == "none") {
//                    params = new URLSearchParams(window.location.search) ;
//                    params.delete('viewer');
//                    window.history.replaceState(null, '', window.location.pathname+'?'+params+window.location.hash);
//                }
            });
            ias.on('pageChange', function(pageNum, scrollOffset, url) {
                if ($('a.btn.unsichtbar.original').length) { } else {
                    params = new URLSearchParams(window.location.search) ;
                    params.set('mode', 'orig');
                    window.history.replaceState(null, '', window.location.pathname+'?'+params+window.location.hash);
                }
            });
            ias.on('load', function(event) {
                if ($('a.btn.unsichtbar.original').length) { } else {
                    target = new URL(event.url, window.location.protocol + '//' + window.location.hostname + '/');
                    loadParams = new URLSearchParams(target.search);
                    loadParams.set('mode', 'orig');
                    event.url = target.pathname.substr(target.pathname.indexOf('/') + 1) + "?" + loadParams + target.hash;
                }
            });
            ias.on('rendered', function(items){                                 // Callback function to add functionality to newly loaded elements (those functions are mostly copied from below).
                                                                                // 1. Refresh Popover Boxes...
                    /*
                    $('[data-rel="popover"]')
                    .popover({ 
                        trigger:    'click',
                        placement:  'bottom',
                        html:       true,
                        title:      function() {return $("#popover-head").html();},
                        content:    function() {return $("#popover-content").html();}
                    })
                    .click(function(e) {e.preventDefault();});
                    */
                
                $('[data-rel="popover"]').popover({
                    trigger:    'click',
                    animation: 'true',
                    placement:  'bottom',
                    container: 'body',
                    template: '&lt;div class="popover sal-toolbox-body"&gt;&lt;div class="popover-content"&gt;&lt;/div&gt;&lt;/div&gt;',
                    html:       true,
                    title:      function() {return $("#popover-head").html();},
                    content: function(){
                        toolboxHighlight(this,'on');
                        return $(this).siblings('.sal-toolbox-body').html()
                    }
                    // close popup by clicking outside
                }).click(function(event) {event.preventDefault();});
                
                // 2. Refresh ImageViewer Stuff...
                $(".pageNo").click(function(event){
                    event.preventDefault();                                     // do not actually go to this url
                    $("#parent").dialog('open');                                // show Viewer with jquery-ui Dialog method
                    $("#parent small").text($(this).attr('href'));              // update Viewer Heading
                    $("#parent div").attr('title', $(this).attr('href'));       // update Viewer Title
                });
                                                                                // 3. Apply Orig/Edit Mode                                                                                // 4. Add tooltip  
                $('.messengers').tooltipster();
                if ($('a.btn.unsichtbar.original').length) { } else {
                    params = new URLSearchParams(window.location.search) ;
                    params.set('mode', 'orig');
                    window.history.replaceState(null, '', window.location.pathname+'?'+params+window.location.hash);
                    applyOrigMode();
                }
                                                                                // 5. Add highlighting as needed
                $("#hiliteBox a.highlighted").each(function() {
                    $( this ).click();                                          // this disables highlighting
                    $( this ).click();                                          // this re-enables it
                });
            });
        </script>

        <!-- ==== Load Paginator content when clicking on dropdown-menu ==== -->
        <script type="text/javascript">
//            $(document).ready(function() {
//                $('#dropdownMenu1').click(loadPaginatorContent);
//            });
            function loadPaginatorContent() {
                var $self = `<span data-template="app:loadWRKpagination"/>`;
                $("#loadMeLast").innerHtml = ($self + '#later li'); 
            }
        </script>
        <!-- var $self = `<span data-template="app:loadWRKpagination"/>`; -->
        <!-- ==== TOC tree ==== -->
        <script type="text/javascript" src="resources/js/jstree.js"/>
        <!-- ==== Initialize Table of Contents ==== -->
        <script type="text/javascript">
            var tree = $("#tableOfConts");
            tree.bind("loaded.jstree", function (event, data) {
                tree.jstree(true).open_node($('#tableOfConts').find('li').first());;
            });
            $('#tableOfConts').jstree({
                    "core": { }
            }).bind("select_node.jstree", function (e, data) {
                    var href = data.node.a_attr.href;
                    document.location.href = href;
            });
        </script>

        <!-- ==== Toggle Table of Contents ==== -->
        <script type="text/javascript">
            $(function() {
                $('#toggleButton').click(function() {
                    if ($("button[id='toggleButton']").hasClass('expanded')) {
                        $("#tableOfConts").jstree("close_all");
                        $("button[id='toggleButton']").removeClass('expanded').addClass('collapsed');
                        $("span[class='glyphicon glyphicon-resize-small']").removeClass('glyphicon glyphicon-resize-small').addClass('glyphicon glyphicon-fullscreen');
                    }
                    else if ($("button[id='toggleButton']").hasClass('collapsed')) {
                        $("#tableOfConts").jstree("open_all");
                        $("button[id='toggleButton']").removeClass('collapsed').addClass('expanded');
                        $("span[class='glyphicon glyphicon-fullscreen']").removeClass('glyphicon glyphicon-fullscreen').addClass('glyphicon glyphicon-resize-small');
                    }
                });
            });
        </script>

        <!-- ==== Close Modal on Clicking a TOC link ==== -->
        <script type="text/javascript">
            $('.hideMe').click(function(){
                    // 'this' would reference the anchor that was clicked
                    $('#myModal').modal('hide');  
                });
        </script>
        
        <!-- ==== Do not close export menu on click ==== -->
        <script type="text/javascript">
            $(document).on('click', '.dropdown-menu.export-options', function (e) {
                e.stopPropagation();
            });
        </script>

        <!-- ==== Remember current position on Clicking a language link ==== -->
        <script type="text/javascript">
            function replaceQueryParam(param, newval, search) {
                var regex = new RegExp("([?;&amp;])" + param + "[^&amp;;]*[;&amp;]?");
                var query = search.replace(regex, "$1").replace(/&amp;$/, '');
                return (query.length &gt; 2 ? query + "&amp;" : "?") + (newval ? param + "=" + newval : '');
            }
            $('.lang-switch').click(function(event){
                var str = window.location.search
                str = replaceQueryParam('lang', $(this).text(), str)
                window.location = window.location.pathname + str + window.location.hash
//                alert(window.location)
                event.preventDefault()
                });
        </script>

        <!-- ==== expand/collapse TOC icon ==== -->
        <!--<script type="text/javascript">
            $('#collapseDiv').on('shown.bs.collapse', function () {
                $("#myBtn").removeClass("glyphicon glyphicon-resize-full").addClass("glyphicon glyphicon-resize-small");
            });
            $('#collapseDiv').on('hidden.bs.collapse', function () {
                $("#myBtn").removeClass("glyphicon glyphicon-resize-small").addClass("glyphicon glyphicon-resize-full");
            });
        </script>-->

        <!-- ==== Paragraph popup with link, refresh and print icons ====  -->
        <script type="text/javascript">
            $('[data-rel="popover"]').popover({
                    trigger:    'click',
                    animation: 'true',
                    placement:  'bottom',
                    container: 'body',
                    template: '&lt;div class="popover sal-toolbox-body"&gt;&lt;div class="popover-content"&gt;&lt;/div&gt;&lt;/div&gt;',
                    html:       true,
                    title:      function() {return $("#popover-head").html();},
                    content: function(){
                        toolboxHighlight(this,'on');
                        return $(this).siblings('.sal-toolbox-body').html()
                    }
                    // close popup by clicking outside
                }).click(function(event) {event.preventDefault();}); // don't jump around to the anchor associated with the span
            $('body').on('click', function (event) {
                $('[data-rel="popover"]').each(function() {
                    event.preventDefault;
                    if (!$(this).is(event.target) 
                        &amp;&amp; $(this).has(event.target).length === 0 
                        &amp;&amp; $('.popover').has(event.target).length === 0) {
                        toolboxHighlight(this,'off');
                        $(this).popover('hide');
                    }
                });
            });
            function toolboxHighlight(elem, mode) {
                var target = elem.parentElement.nextElementSibling;
                if (mode === 'on') {
                    if (elem.parentElement.className === 'sal-toolbox-marginal') {
                        elem.style.visibility = 'visible';
                    }
                    elem.style.setProperty('color', '#102873', 'important');
                    target.style.backgroundColor = '#F0F0F0';
                } else if (mode === 'off') {
                    elem.style.removeProperty('color');
                    target.style.backgroundColor = '';
                    if (elem.parentElement.className === 'sal-toolbox-marginal') {
                        elem.style.removeProperty('visibility');
                    }
                }
            }
        </script>
        
        <!-- Toolboxes: highlighting and copy functions -->
        <script type="text/javascript">
            function copyLink(elem) {
                var target = elem.parentElement.getElementsByClassName('cite-link')[0];
                var input = document.createElement('textarea');
                input.setAttribute('style', 'width:0;height:0;opacity:0;'); // hidden
                input.textContent = target.textContent;
                document.body.appendChild(input);
                input.select();
                document.execCommand('copy');
                copyNotify(elem);
                document.body.removeChild(input);
            }
            function copyCitRef(elem) {
                var target = elem.parentElement.getElementsByClassName('sal-cite-rec')[0];
                var input = document.createElement('textarea');
                input.setAttribute('style', 'display:block; width:0; height:0; opacity: 0;');
                // construct string to be copied: get pre-rendered work/passage citation strings and insert the current date
                var v1 = target.getElementsByClassName('cite-rec-body')[0].textContent;
                var v2 = getI18nAccessString();
                input.textContent = v1 + ' ' + v2;
                document.body.appendChild(input);
                input.select();
                document.execCommand('copy');
                copyNotify(elem);
                document.body.removeChild(input);
            }
            function getI18nAccessString() {
                var accessed;
                var date;
                var lang = getLang();
                if (!['es', 'de', 'en'].includes(lang)) lang = 'en';
                var current = new Date();
                var options = { year: 'numeric', month: 'long', day: 'numeric' };
                if (lang === 'de'){
                    accessed = 'Aufgerufen am';
                    date = current.toLocaleDateString('de-DE', options);
                } else if (lang === 'es'){
                    accessed = 'Consultado por última vez el';
                    date = current.toLocaleDateString('es-ES', options);
                } else {
                    accessed = 'Accessed';
                    date = current.toLocaleDateString('en-GB', options);
                }
                return '(' + accessed + ' ' + date + ')';
            }
            
            function copyNotify(elem) {
                var del = elem.parentElement.getElementsByClassName('.copy-alert')[0];
                if (typeof variable !== 'undefined' &amp;&amp; variable !== null) {
                    elem.parentElement.removeChild(del);
                }
                var language = getLang();
                console.log('$lang=' + language);
                var msg;
                if (language === 'de') {
                    msg = 'In die Zwischenablage kopiert'
                } else if (language === 'es') {
                    msg = 'Copiado al portapapeles'
                } else {
                    msg = 'Copied to clipboard'
                }
                var popup = document.createElement('span');
                popup.setAttribute('class', 'copy-alert');
                popup.textContent = msg;
                elem.parentElement.appendChild(popup);
                setTimeout(function() {
                    $('.copy-alert').fadeOut(1000);
                }, 1500);
            }
        </script>

        <!-- ==== Show/Hide HiliteBox ==== -->
<!--
        <div id="hiliteBox" title="Highlighting" style="overflow:auto">
            <ul data-template="app:WRKhiliteBox">
                <li>Highlighting</li>
            </ul>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#hiliteBox').dialog({
                            autoOpen: true,
                            position: {my: "right top", at: "right-10 top+80", of: "div.navbar"},
                            height: $(window).height()* 0.6,
                            maxHeight: $(window).height()* 0.95,
                            create:      function(event, ui) {
                                            $(event.target).parent().css('position', 'fixed');
                                         },
                            resizeStop:  function(event, ui) {
                                            var position = [(Math.floor(ui.position.left) - $(window).scrollLeft()),
                                                             (Math.floor(ui.position.top) - $(window).scrollTop())];
                                            $(event.target).parent().css('position', 'fixed');
                                            $(dlg).dialog('option','position',position);
                                         },
                            beforeClose: function( event, ui ) {
                                            $("#rightOff1").hide();
                                            $("#rightOn1").show();
                                         }
                });
            });
        </script>
-->

        <!-- ==== Scroll to prev/next search result ==== -->
        <!--<script type="text/javascript">
            $(document).ready(function(){
               $('.hi').first().addClass('current');
//               $('html, body').animate({scrollTop: $('.current').offset().top - 160 }, 'slow');
            });

            $(document).on('click', '.gotoResult', function(e) {
                e.preventDefault();

                // Make sure we have a foothold in search results
                if ($('.current').length == 0 && $('.hi').length > 0) {
                    $('.hi').first().addClass('current');
                }

                // Branch depending on which prev/next button was clicked
                var t = $(this).attr('id');
                var $start= $('.current');
                var $index;
                if (t === 'gotoNextResult' && $('.hi').length > 0) {
                    // collect all 'hi' instances after 'start'
                    var $afters = $('.hi').add($start).each(function (i) {
                        if ($(this).is($start)) {
                            $index = i;
                            return false; // quit looping early
                        }
                    }).slice($index + 1);

                    // Go to the first of the afters
                    var $next = $afters.first();
                    $('.current').removeClass('current');     
                    $next.addClass('current');
                    $('html, body').animate({scrollTop: $('.current').offset().top - 160 }, 'slow');
                } else if (t === 'gotoPrevResult' && $('.hi').length > 0) {
                    // collect all 'hi' instances before 'start'
                    var $befores = $('.hi').add($start).each(function (i) {
                        if ($(this).is($start)) {
                            $index = i;
                            return false; // quit looping early
                        }
                    }).slice(0, $index);

                    // Go to the last of the befores
                    var $prev = $befores.last();
                    $('.current').removeClass('current');     
                    $prev.addClass('current');
                    $('html, body').animate({scrollTop: $('.current').offset().top - 160 }, 'slow');
                }
            });
        </script>
-->

        <!-- ==== Imageviewer ==== -->
<!--
    CURRENT STATUS:
    the id that is currently stored in data/rdf/W0013.rdf is: 
        http://id.salamanca.school/works.W0013:vol1.p14
    This is also put into the href attribute in the html anchor.
    In our rdf data (data/rdf/W0013.rdf), there's a seeAlso pointing to
        http://facs.salamanca.school/W0013/A/W0013-A-0017.jpg

    Javascript-enabled browsers do not call the href directly, but instead open SeaDragon with the above
    configuration, so that SeaDragon then requests an image from api.salamanca.school/iiif/...

    Replacing the id href with a simple image for non-javascript browsers is not necessary because of the
    server redirection which returns an simple image if the client acceps only images.
    But this still does not work in Firefox, so Firefox without javascript does not work.

    To the above iiif info.json mechanism corresponds this simple image URI for
    cases where no javascript is available:
        http://c104-131.cloud.gwdg.de:8080/digilib/Scaler/IIIF/svsal!W0013!A!W0013-A-0017/full/full/0/default.jpg
        (and we can define other separators than '!'...

    If we have a server redirection
        facs.salamanca.school => http://c104-131.cloud.gwdg.de:8080/digilib/Scaler/IIIF/ ,
    then that's
        http://facs.salamanca.school/svsal!W0013!A!W0013-A-0017
-->

        <div id="parent">
            <iframe title="Mirador" id="Mirador" src="viewer.html" allowfullscreen="" style="min-width: 99%;height:99%;"/>
        </div>
        <script type="text/javascript">
        /**
         * JavaScript Get URL Parameter
         *
         * @param String prop The specific URL parameter you want to retrieve the value for
         * @return String|Object If prop is provided a string value is returned, otherwise an object of all properties is returned
         */
        function getUrlParams( prop ) {
            var params = {};
            var search = decodeURIComponent( window.location.href.slice( window.location.href.indexOf( '?' ) + 1 ) );
            var definitions = search.split( '&amp;' );

            definitions.forEach( function( val, key ) {
                var parts = val.split( '=', 2 );
                params[ parts[ 0 ] ] = parts[ 1 ];
            } );

            return ( prop &amp;&amp; prop in params ) ? params[ prop ] : params;
        };

        /**
         * JavaScript Get current Language
         *
         * @return the content of the 'lang' url parameter or a string based on pathname components
         */
        function getLang() {
            if (getUrlParams('lang').length &gt; 0 
                     &amp;&amp; ['de','en','es'].indexOf(getUrlParams('lang').substring(0,2)) &gt;= 0) {
                return getUrlParams('lang').substring(0,2);
            }
            else if (window.location.href.indexOf("/de/") != -1) return 'de';
            else if (window.location.href.indexOf("/es/") != -1) return 'es';
            else return 'en';
        };
        // Build viewer popup, but don't show it yet (jquery ui config)
//        $(document).ready(function(){
//            document.getElementById('Mirador').src = "viewer.html?wid=" + getUrlParams( 'wid' );
//            $('#parent').dialog({                                      // define jquery-ui dialogue properties...
//                position:   {my: "left top", at: "left+5 bottom+40", of: "div.navbar"},
//                autoOpen:   false,
//                width:      Math.min($(window).width()* 0.4, 600),   // startsize of the dialog
//                height:     Math.min($(window).height()* 0.8, 700),
//                create:     function(event, ui) {
//                                $(event.target).parent().css('position', 'fixed');
//                            },
//                resizeStop: function(event, ui) {
//                                var position = [(Math.floor(ui.position.left) - $(window).scrollLeft()),
//                                                 (Math.floor(ui.position.top) - $(window).scrollTop())];
//                                $(event.target).parent().css('position', 'fixed');
//                                $("#parent").dialog('option','position', position);
//                             },
//                close:       function(event, ui) {
//                                params = new URLSearchParams(window.location.search) ;
//                                params.delete('viewer');
//                                window.history.replaceState(null, '', window.location.pathname + '?' + params + window.location.hash);
//                            }
//            });
//        });

// Bind events - this needs mirador to be fully initialized. We achieve this by having it called from the iframe html file...
        function miradorLoaded() {

            // If we have a "viewer" URL parameter, do open it 
            if (window.location.search.indexOf("viewer=") != -1) {
                var $myMirador = document.getElementById('Mirador').contentWindow.MyObjects.myMirador;
                var $windowID = $myMirador.saveController.slots[0].window.id;

                // Configure viewer to go to the correct canvas
                params = new URLSearchParams(window.location.search) ;
                var $targetCanvasID = params.get('viewer');
// TODO: This is an ugly workaround until we find where our eXist routines make a "http[s]:/" (with one slash) out of a "http[s]://" (with two slashes)...
                if ($targetCanvasID.match(/https?:\/[^\/]/)) {
                    console.log("We have an invalid viewer parameter: " + $targetCanvasID + "!");
                    $targetCanvasID = $targetCanvasID.replace(':/', '://');
                    // Reflect viewer status in url
                    params = new URLSearchParams(window.location.search) ;
                    params.set('viewer', $targetCanvasID);
                    window.history.replaceState(null, '', window.location.pathname + '?' + params + window.location.hash);
                }
                $myMirador.eventEmitter.publish('SET_CURRENT_CANVAS_ID.'+ $windowID, $targetCanvasID);
                console.log("Open viewer on canvas " + $targetCanvasID + ".");

// TODO: Reconfigure some viewer ui elements (does not work currently)
                $(document.getElementById('Mirador').contentWindow.MyObjects.myMirador)[0].saveController.currentConfig.mainMenuSettings.show = false;
                $(document.getElementById('Mirador').contentWindow.MyObjects.myMirador)[0].saveController.currentConfig.mainMenuSettings.fullScreenViewer = false;
                $myMirador.eventEmitter.publish('saveControllerConfigUpdated'); // Still does not work, the configuration changes defined above are not applied...

                // Update some values of the dialog popup window
                $("#parent small").text($(this).attr('href'));         // update Viewer Heading
                $("#parent div").attr('title', $(this).attr('href'));  // update Viewer Title
                $('#Mirador')[0].contentDocument.getElementById('downloadImages').href = "https://c104-131.cloud.gwdg.de/sal-facs/" + getUrlParams( 'wid' ) + "/" + getUrlParams( 'wid' ) + ".zip";  // update Download button
//              $('#Mirador')[0].contentDocument.getElementById('downloadImages').href = "http://facs.salamanca.school/" + getUrlParams( 'wid' ) + "/" + getUrlParams( 'wid' ) + ".zip";  // update Download button
                $('#Mirador')[0].contentDocument.getElementById('downloadImages').setAttribute('download', getUrlParams( 'wid' ) + ".zip");  // update Download button

                // Open the dialog window
                $("#parent").dialog('open');                           // show Viewer with jquery-ui Dialog method
            }

            // Bind click event for opening viewer popup
            $(document).on('click', ".pageNo", function(event){
                event.preventDefault();                                 // do not actually go to this url - but if there is no javascript enabled the effect will be to simply go there.
                $(this).blur();

                var $myMirador = document.getElementById('Mirador').contentWindow.MyObjects.myMirador;
                var $windowID = $myMirador.saveController.slots[0].window.id;

                // Configure viewer to go to the correct canvas
                var $targetCanvasID =  $(this).attr('data-canvas');
                $myMirador.eventEmitter.publish('SET_CURRENT_CANVAS_ID.'+ $windowID, $targetCanvasID);
                console.log("Open viewer on canvas " + $targetCanvasID + ".");

// TODO: Reconfigure some viewer ui elements (does not work currently)
                $(document.getElementById('Mirador').contentWindow.MyObjects.myMirador)[0].saveController.currentConfig.mainMenuSettings.show = false;
                $(document.getElementById('Mirador').contentWindow.MyObjects.myMirador)[0].saveController.currentConfig.mainMenuSettings.fullScreenViewer = false;
                $myMirador.eventEmitter.publish('saveControllerConfigUpdated'); // Still does not work, the configuration changes defined above are not applied...

                // Update some values of the dialog popup window
                $("#parent small").text($(this).attr('href'));         // update Viewer Heading
                $("#parent div").attr('title', $(this).attr('href'));  // update Viewer Title
                $('#Mirador')[0].contentDocument.getElementById('downloadImages').href = "https://c104-131.cloud.gwdg.de/sal-facs/" + getUrlParams( 'wid' ) + "/" + getUrlParams( 'wid' ) + ".zip";  // update Download button
//              $('#Mirador')[0].contentDocument.getElementById('downloadImages').href = "http://facs.salamanca.school/" + getUrlParams( 'wid' ) + "/" + getUrlParams( 'wid' ) + ".zip";  // update Download button
                $('#Mirador')[0].contentDocument.getElementById('downloadImages').setAttribute('download', getUrlParams( 'wid' ) + ".zip");  // update Download button


                // Reflect viewer status in url
                params = new URLSearchParams(window.location.search) ;
                params.set('viewer', $targetCanvasID);
                window.history.replaceState(null, '', window.location.pathname + '?' + params + window.location.hash);

                // Open the dialog window
                $("#parent").dialog('open');                           // show Viewer with jquery-ui Dialog method
            });

            // Bind click event for closing the popup
            $('#Mirador').contents().find("#close").on('click', function(){
                $("#parent").dialog('close');
            });

            // Bind viewer url parameter update to paging in viewer
            document.getElementById('Mirador').contentWindow.MyObjects.myMirador.eventEmitter.subscribe('currentCanvasIDUpdated.' +
                                                document.getElementById('Mirador').contentWindow.MyObjects.myMirador.saveController.slots[0].window.id,
                                                function(event, CanvasId) {
                    console.log("Canvas changed to " + CanvasId+ ".");
                    params = new URLSearchParams(window.location.search) ;
                    params.set('viewer', CanvasId);
                    window.history.replaceState(null, '', window.location.pathname + '?' + params + window.location.hash);
                });

            // Bind click event for syncing/scrolling text area
            $('#Mirador').contents().find("#sync").on('click', function(){
                $canvasId = document.getElementById('Mirador').contentWindow.MyObjects.myMirador.viewer.workspace.windows[0].canvasID
                var target = $("a[data-canvas='" + $canvasId +"']");
                var test = document.getElementById('Mirador').contentWindow.MyObjects.myMirador;
                console.log(test);
                console.log(target);
                console.log('target.attr("id"): ' + target.attr('id'));
                if (target.length) {
                    console.log('sync button has been clicked on canvasId ' + $canvasId + ', going to #' + target.attr('id'));
                    myScrollIntoView('#'+ target.attr('id'));
                    event.preventDefault();
                } else {
                    console.log('sync button has been clicked, but the target element for canvasId ' + $canvasId + ' is not here.');
                    $.getJSON( 'iiif-in.xql?canvasId=' + $canvasId )
                        .done(function( json ) {
                            realTarget = json[$canvasId];
                            console.log('Going to ' + realTarget + "?viewer=" + $canvasId + ".");
                            window.location.href = realTarget + "?viewer=" + $canvasId;
                        })
                        .fail(function( jqxhr, textStatus, error ) {
                            var err = textStatus + ", " + error;
                            console.log( "JSON Request for page id Failed: " + err );
                        });
                }
            });
        };
        </script>

        <!-- ==== Mobil-View: Hide opened collapsed menu after clicking elsewhere on page ==== -->
        <script type="text/javascript">
            $(document).on('click',function(){
                $('.collapse .navbar-collapse').collapse('hide');
            });
        </script>

        <!-- ==== Mobil-View: scroll to last collapsed navbar item on mobile when there are many items ==== -->
        <script type="text/javascript">
            $(".navbar-collapse").css({ maxHeight: $(window).height() - $(".navbar-header").height() + "px" });
        </script>

       <!-- Modal: Additional functions with cookies -->
       <!-- <div data-template="app:WRKhelp"/>
       <script type="text/javascript">
             // Delayed Modal Display + Cookie On Click
             $(document).ready(function() {

                // If no cookie with our chosen name (e.g. no_thanks)...
                if ($.cookie("no_thanks") == null) {

               // Show the modal, with delay func.
               $('#myModal2').appendTo("body");
               function show_modal(){
                 $('#myModal2').modal();
               }

               // Set delay func. time in milliseconds
               window.setTimeout(show_modal, 300);
               }
               // On click of specified class (e.g. 'nothanks'), trigger cookie, which expires in "var date"
               $(".nothanks").click(function() {
               var date = new Date();
               date.setTime(date.getTime() + (1800 * 1000));
               $.cookie('no_thanks', 'true', { expires: date, path: '/' });  // expires after 30 minutes
               });
            });
        </script> -->

        <!-- ==== Piwik for visitor stats ==== -->
        <!-- - - Piwik for visitor stats (modified to enable caching and compression) - - -->
        <!--<script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
          _paq.push(["setCookieDomain", "*.salamanca.school"]);
          _paq.push(["setDomains", ["*.salamanca.school"]]);
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//stats.adwmainz.net/";
            _paq.push(['setTrackerUrl', u+'js/']);
/*          _paq.push(['setTrackerUrl', u+'piwik.php']); */
            _paq.push(['setSiteId', 20]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true;
/*          g.src=u+'piwik.js'; */
            g.src=u+'js/';
            s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript>
            <p>
                <img src="//stats.adwmainz.net/piwik.php?idsite=20" style="border:0;" alt=""/>
            </p>
        </noscript>-->

        <!-- End Piwik Code -->

        <!-- One document.ready function collecting init for all of the above... -->
        <script type="text/javascript">
            $(window).load( function() {
                // move to anchor if we have one in our url
                if (window.location.hash.length &gt; 0) {
                    myScrollIntoView(window.location.hash);
                }
            });
            $(document).ready( function() {
                // Init backTop
                $('#backTop').backTop({
                    'position' : 100,
                    'speed' : 200,
                    'color' : 'white',
                });
                // apply constituted/diplomatic mode
                if (window.location.search.match(/mode=((orig)|(edit))/i)) {
                    applyMode();
                }
                // Show GUI-Nav when scolling to top
                $(".navbar-white").autoHidingNavbar().autoHidingNavbar('setShowOnBottom', false).autoHidingNavbar('setAnimationDuration', 400);
                // Load Paginator
                $('#dropdownMenu1').click(loadPaginatorContent);

                // Initialize Mirador viewer
                document.getElementById('Mirador').src = "viewer.html?wid=" + getUrlParams( 'wid' );
                $('#parent').dialog({                                      // define jquery-ui dialogue properties...
                    position:   {my: "left top", at: "left+5 bottom+40", of: "div.navbar"},
                    autoOpen:   false,
                    width:      Math.min($(window).width()* 0.4, 600),   // startsize of the dialog
                    height:     Math.min($(window).height()* 0.8, 700),
                    create:     function(event, ui) {
                                    $(event.target).parent().css('position', 'fixed');
                                },
                    resizeStop: function(event, ui) {
                                    var position = [(Math.floor(ui.position.left) - $(window).scrollLeft()),
                                                     (Math.floor(ui.position.top) - $(window).scrollTop())];
                                    $(event.target).parent().css('position', 'fixed');
                                    $("#parent").dialog('option','position', position);
                                 },
                    close:       function(event, ui) {
                                    params = new URLSearchParams(window.location.search) ;
                                    params.delete('viewer');
                                    window.history.replaceState(null, '', window.location.pathname + '?' + params + window.location.hash);
                                    params.set('viewer', null);
//                                    document.getElementById('Mirador')
                                    event.stopImmediatePropagation();
                                    event.preventDefault();
                                    return false;
                                 }
                });
            });
        </script>

    </body>
</html>